<mat-toolbar>PREDICTOR DE PICO Y PLACA</mat-toolbar>
<div class="example-container">
  <mat-form-field>
    <input matInput [(ngModel)]="placa" placeholder="Ingrese la Placa. Ejem: AAA-123">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Selecciones la fecha" [(ngModel)]="fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="hora" placeholder="Ingrese la hora. Ejem: 09:15">
  </mat-form-field>
</div>

<div class="example-button-row">
  <button mat-raised color="accent" (click)="comprobar()">Predecir</button>
</div>

<div>
  <h3>{{mensaje}}</h3>
</div>

